/* App.css */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.file-input {
  margin: 20px 0;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.images-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.image-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 45%;
  text-align: center;
}

.image-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}